body{
    background-color: bisque
}
h1{
    font-size: 30px;
 color: rgb(97, 5, 5);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 text-align: center;
}
p{
  font-size: 30px;
 color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 text-align: justify;
}
img{
 width:390px;
 height: 390px;
 margin: 105px;


}
.cabecalho{
    background-color: floralwhite;
}
.lista_cabecalho{
    display: flex;
    margin-left: 250px;
}
.item_lista_cabecalho{
    color: #a02822;
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px;
}







